/* Layout */
.main, body {
    margin: 0;
    padding: 0;
    background: #fcfcfc;

}

.header {
    height: 15vh;
    border-bottom: 1px solid lightgrey;
}


/* Main elements */

blockquote {
    border-left: 1px solid #ddd;
    margin: 0 0 1.571em 0.786em;
    padding-left: 0.786em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #2057B5;
}
/* Header */

.header {
    padding-left: 5%;
    clear: both;
}

.header h1, .header h3 {
    height: 20em;
}

.headline {
    font-size: 40px;
}

.site-title {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.site-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: #4a525a;
}
.post-byline {
    font-size: 11px;
    margin-top: 0.5em;
}

/* Ordering the elements to allow for responsiveness */
.sidebar-left {
    order: 1;
}

.sidebar-right {
    order: 3;
}

.content {
    order: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}





.sidebar {
    padding: 0 1%;
    min-height: 100vh;
}

.sidebar-left {
    padding-left: 2%;
    width: 10%;
    border-right: 1px solid lightgrey;
}

body > div {
    display: flex;
}

.content {
    width: 65%;
    padding-right: 2.5%;
    padding-left: 2.5%;
}
.sidebar-right {
    width: 15%;
    border-left: 1px solid lightgrey;

}

p, li {
    font-size: 14px;
    line-height: 1.571em;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar p, .sidebar li {
    font-size: 13px;
}

.post-title {
    margin-bottom: 1px;
}
.unformatted-list {
    list-style-type: none;
}



/* Media Queries  */
@media only screen and (max-width: 767px) {
    .main {
        display: block;
        box-sizing: border-box;
    }
    .sidebar, .content {
        border: none;
        box-sizing: border-box;
        width: 100%;
        min-height: fit-content;
    }

    .header {
        border: none;
    }

    .sidebar {
        margin-left: 1em;
    }
  }


.pagination {
    list-style-type: none;
    text-align: center;

    
}

.pagination li {
    display: inline;
    font-size: 16px;
    margin: 2px;
    padding: 2px;
}