
.title {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
}
.post-byline {
    font-size: 11px;
    margin-top: 0.5em;
}


.sidebar-left {
    order: 1;
}

.sidebar-right {
    order: 3;
}

.content {
    order: 2;
}
blockquote {
    border-left: 1px solid #ddd;
    margin: 0 0 1.571em 0.786em;
    padding-left: 0.786em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #2057B5;
}



.sidebar {
    padding: 0 1%;
    min-height: 100vh;
}

.sidebar-left {
    padding-left: 2%;
    width: 20%;
}

body > div {
    display: flex;
}

.content {
    width: 60%;
    padding-right: 2.5%;
    padding-left: 2.5%;
}
.sidebar-right {
    width: 20%;
    border-left: 1px solid lightgrey;

}

p, li {
    font-size: 14px;
    line-height: 1.571em;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar p, .sidebar li {
    font-size: 13px;
}

.sidebar-left {
    border-right: 1px solid lightgrey;
}
.header {
    background: teal;
    border-bottom: 1px solid lightgrey;
}

.site-title a {
    color: white;
}
.post-title {
    margin-bottom: 1px;
}
.unformatted-list {
    list-style-type: none;
}

.main, body {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .main {
        display: block;
        box-sizing: border-box;
    }
    .sidebar, .content {
        border: none;
        box-sizing: border-box;
        width: 100%;
        min-height: fit-content;
    }
  }
  

