{{ define "main" }}
<article class="post">
    <h2 class="post-title"><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    
    <p class="post-byline">by <a href="https://nihalsahu.net">Nihal Sahu</a> on {{ .Date.Format "January 2, 2006" }}
    {{ with .GetTerms "categories" }} in
        {{ $categories := slice }}
        {{ range . }}
           {{ $categories = $categories | append (printf `<a href="%s">%s</a>` .RelPermalink .LinkTitle) }}
        {{ end }}
        {{ delimit $categories ", " }}
      {{ end }}</p>
    {{ .Content }}
</article>
{{ end }}