<h4>Blogroll</h4>
<li><a href="https://bewrong.substack.com">Be Wrong</a></li>
<li><a href="https://brettongoods.substack.com">Bretton Goods</a></li>
<li><a href="https://marginalrevolution.com">Marginal Revolution</a></li>
<h4>Other links</h4>
<li><a href="https://twitter.com/annihalated">Twitter</a></li>
<li><a href="https://www.linkedin.com/in/nihal-sahu/">Linkedin</a></li>
<li><a href="https://nihalsahu.substack.com">Substack</a></li>
<li><a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=3044378">SSRN</a></li>
<li><a href="https://nihalsahu.net/pdf/resume_current.pdf">Resume</a></li>
<li><a href="https://vidhilegalpolicy.in">My work at Vidhi</a></li>