<h4>Nihal's Links</h4>
<li><a href="https://twitter.com/annihalated">Twitter</a></li>
<li><a href="https://www.linkedin.com/in/nihal-sahu/">Linkedin</a></li>
<li><a href="https://nihalsahu.substack.com">Substack</a></li>
<li><a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=3044378">SSRN</a></li>
<li><a href="https://nihalsahu.net/pdf/resume_current.pdf">Resume</a></li>
<li><a href="https://vidhilegalpolicy.in">My work at Vidhi</a></li>

<h4>Blogroll</h4>
<li><a href="https://bewrong.substack.com">Be Wrong</a></li>
<li><a href="https://brettongoods.substack.com">Bretton Goods</a></li>
<li><a href="https://marginalrevolution.com">Marginal Revolution</a></li>
<li><a href="https://indconlawphil.wordpress.com">ICLP</a></li>
<li><a href="https://theproofofguilt.blogspot.com">The Proof of Guilt</a></li>
<li><a href="https://www.legalstyle.co.uk/">Notes on the Style of the Law</a></li>


<h4>Other Links</h4>
<li><a href="https://constitutionofindia.net">CLPR's Constitution of India website</a></li>
<li><a href="https://vidhilegalpolicy.in/topics/health/?custom_type=research&featured=9">Vidhi's Health Research</a></li>
